{% extends 'base.html.twig' %}

{% block title %}Cat{% endblock %}

 {% block body %}
{# {% for tableau in tableaux %}
        <li>{{ tableau }}</li>
    {% endfor %} #}

 {{dump(tableaux)}}

{% endblock %}